@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello and welcome to the anonymous forum! Click on a category above or on a shortcut below to find threads related to the category.</p>
    <hr/>
    <ul style="list-style-type:none">
        <li><a href="/Threads/Index/1">Education</a></li>
        <li><a href="/Threads/Index/2">Sports</a></li>
        <li><a href="/Threads/Index/3">Movies</a></li>
    </ul>
</div>