@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello and welcome to the anonymous forum! Click on a category to show any threads related to the category in question.</p>
</div>