@model IEnumerable<Anonymous_forum.Models.Threads>

@{
    ViewData["Title"] = "Index";
}

<h1>Threads</h1>

<p>
    @Html.ActionLink("Create a new thread", "CreateThread")
</p>

<table class="table">
    @foreach (var thread in Model)
    {
        Html.RenderPartial("_Card", thread);
    }
</table>