@using Anonymous_forum.ViewModels;

@model ThreadViewModel;

@{
    ViewData["Title"] = "Thread";
}

<h1>Thread</h1>

<p>
    @Html.ActionLink("Create a comment", "CreateComment", new { threadId = Model.ThreadId })
</p>

@if (Model.Comments != null)
{
    <table class="table">
        @foreach (var comment in Model.Comments)
        {
            Html.RenderPartial("_Comments", comment);
        }
    </table>
}