@using AnonymousForum.ViewModels;
@using Microsoft.EntityFrameworkCore;

@model CreateCommentViewModel;

@{
    ViewData["Title"] = "CreateComment";
}

<h1>Create New Comment</h1>
<a href="/Threads/Thread/@Model.ThreadId">Go back</a>
<hr/>

@using (Html.BeginForm("PostComment", "Threads", FormMethod.Post))
{
    <fieldset>
        <input type="hidden" value="@Model.ThreadId" name="threadId" />
        <div class="form-label">
            Please type your comment
        </div>
        <div class="form-field">
            @Html.TextBoxFor(model => model.CommentText, new { @placeholder="Comment"})
            @Html.ValidationMessageFor(model => model.CommentText, "")
        </div>
        <hr/>
        <div>
            <input type="submit" value="Create New Comment" />
        </div>
    </fieldset>
}