@using AnonymousForum.ViewModels;

@model DisplayCategoryThreadsViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Threads</h1>

<p>
    @Html.ActionLink("Create a new thread", "CreateThread", new { categoryId = Model.CategoryId })
</p>

@if (Model.ThreadsList != null)
{
    <table class="table">
        @foreach (var thread in Model.ThreadsList)
        {
            Html.RenderPartial("_Card", thread);
        }
    </table>
}