@model IEnumerable<Anonymous_forum.Models.Threads>

@{
    ViewData["Title"] = "Index";
}

<h1>Threads</h1>

<p>
    @Html.ActionLink("Create a new thread", "CreateThreads")
</p>

<table class="table">
    @foreach (var thread in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelThread => thread.ThreadTitle)
            </td>
            <td>
                @Html.ActionLink("Visit Thread", "Thread", new { id=thread.ThreadId })
            </td>
        </tr>
    }
</table>