@using AnonymousForum.ViewModels;

@model ThreadViewModel;

@{
    ViewData["Title"] = "Thread";
}

<a href="/Threads/Index/@Model.CategoryId">Go back</a>
<h1>@Html.DisplayFor(x => x.ThreadTitle)</h1>
<p>@Html.DisplayFor(x => x.ThreadText)</p>
<hr/>
<h4>Comments</h4>

<p>
    @Html.ActionLink("Create a comment", "CreateComment", new { threadId = Model.ThreadId })
</p>

@if (Model.Comments != null)
{
    <table class="table">
        @foreach (var comment in Model.Comments)
        {
            Html.RenderPartial("_Comments", comment);
        }
    </table>
}